---
:machine:
  :hostname: ubuntu-20-04
  :timezone: America/Sao_Paulo
  :memory: 1024 # 3GB RAM
  :cpus: 2
 #:timezone: America/Sao_Paulo # America/Sao_Paulo Canada/Pacific
:forwarded_ports:
# SSH
- :id: ssh
  :host: 2200
  :guest: 22
# HTTP
- :host: 8000
  :guest: 80
# MySQL
- :host: 33060
  :guest: 3306

:synced_folder:
  :host: Code/
  :guest: /home/vagrant/Code

:synced_folder_w:
  :host: www/
  :guest: /var/www    

:copy_files:
- :source: ~/.ssh
  :destination: /home/vagrant/.ssh
- :source: ~/.gitconfig
  :destination: /home/vagrant/.gitconfig


:php_error_reporting: E_ALL & ~E_NOTICE & ~E_DEPRECATED & ~E_STRICT
...
